@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 自定义滚动条样式 */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #d1d5db;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: #9ca3af;
}

/* 当滚动条处于非活动状态时淡出 */
.overflow-y-auto:not(:hover)::-webkit-scrollbar-thumb {
	background: rgba(209, 213, 219, 0.5);
}
